@use 'custom';

// Import components
@use 'components/animations';
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typography';

// Import sections
@use 'sections/navbar';
@use 'sections/intro-section';
@use 'sections/companies';
@use 'sections/specializations';
@use 'sections/faq';
@use 'sections/portfolio';
@use 'sections/get-started';
@use 'sections/footer';
@use 'sections/project-highlight';
@use 'sections/about-me';
