@use '../custom'as *;
@use '../components/mixins'as *;

.aboutMe{
    .card{
        border: none;
        color: white;

        button{
            border: 2px solid $primary;
        }
        h5, p{
            color: $primary;
        }
    }

    img{
        border-radius: 10px;
        width: 70%;
    }
}