@use '../custom'as *;
@use '../components/mixins'as *;

.menu {
  @include gradient;

  button{
    color: $primary;
  }
  
  img{
        max-height: 30%;
        max-width: 30%;

        @include media-breakpoint-up(md) {
          max-height: 30%;
          max-width: 30%;
        }

        @include media-breakpoint-up(lg) {
          max-height: 150%;
          max-width: 150%;
        }

        @include media-breakpoint-up(lg) {
          max-height: 50%;
          max-width: 50%;
        }
      }

  li {
    padding: 0 0.7rem;

    a {
      color: $white;
      padding: 0 0.7rem;
      text-transform: capitalize;
      font-weight: 600;
      
    }

    &:hover {
      color: $white;
    }
  }
}