@use '../custom'as *;
@use '../components/mixins'as *;

.portfolio {
  padding: 4rem 0;

  button {
    text-transform: capitalize;
  }
}

.portfolio-box {
  position: relative;
  width: 100%;
  height: 18.5rem;
  overflow: hidden;
  margin-bottom: 1.2rem;
  border-top: 0.5rem solid $primary;
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    border: 0.2rem solid $secondary;
  }

  .portfolio-info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    border-radius: 0 0 10px 10px;

    .caption {
      text-align: center;
      color: $gold;
      

      @include absoluteCenter;

      h4 {
        text-transform: uppercase;
        display: block;
        background: rgba($primary, 0.9);
        border-radius: 10px;
      }
    }
  }

  &:hover {

    img {
      transform: scale(1.5);
      @include transitionProperty;
    }

    .portfolio-info {
      opacity: 1;
      visibility: visible;
      @include transitionProperty;
    }
  }
}